<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationURL" value="https://regulatorymonitoring.ca/" />
    <add key="ListTitle" value="SubscriptionItems" />
    <add key="LogApplicationURL" value="https://regulatorymonitoring.ca/" />
  </appSettings>
</configuration>