<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationURL" value="https://regulatorymonitoring.ca/nres/leg-fed-t" />
    <add key="ListTitle" value="SubscriptionItems" />
    <add key="ServiceAccountName" value="nres\rsaparco" />
    <add key="Password" value="NRES" />
  </appSettings>
</configuration>